*~
*.swp
.meteor-spk
*.sublime-workspace
tmp/
node_modules/
npm-debug.log
.vscode/
.idea/
.build/*
packages/
package-lock.json
**/parts/
**/stage
**/prime
**/*.snap
settings.json
settings-dev.json
settings-qa.json
development.settings.json
snap/.snapcraft/
.idea
.DS_Store
